*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}
@import './secciones/header';
@import './secciones/footer';
@import './secciones/layout';


